.textosLogin{
    font-weight: bold !important;
 
}

.botaoLogin{
background-color: #330e62!important; 
}
.text-decarator-none{
    text-decoration: none;
}
.imgMickeyLogin{
background-image:url(../../assets/Mickey.png);
background-repeat:no-repeat;
width:100vh;
min-height: 100vh;
background-size: cover;
background-origin:center;
}