
.corPe{
    background-color:#330e62!important;
    height: "120px"!important;
 
}
.corPe2{
    background-color:#ee99fc!important;
    height: "120px"!important;

}
/*.caixa{
    display: flex !important;
    direction: row;
    justify-content:center !important;
    align-items: center !important;
}
 background: #330e62!important;
.cursor{
    cursor: pointer !important;
}
*/
