.corPe{
    background-color: #ee99fc;
    height: 120px;
 
}
.corPe2{
    background-color:#330e62;
    height: 60px;

}
.redes{
font-size: 60px!important;
color: black;
}
.textos1{
    color: black;
}
.textos2{
    color: white;
    text-decoration: none!important;
}