.caixaHome{


 width: 100vw!important;
 /* min-height: calc(100vh-20px); */

}

.back{
    /* Config. do Plano de Fundo */
    background-image: url(../../assets/castelo.png)!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

 height: 100vh!important;

}

.tituloHome{
color:white !important;
font-weight: bold !important;
}

.botaoVerPostagem{
border-color: white !important;
background-color: #3F51B500!important; 
color: white !important;
}
.postage{
background-color: white;
}